<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HVAC Company</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link"  href="/">Home</a>
              </li>
              </ul>
             
          </div>
  
        </div>
      </nav>
      <section class="bg-primary text-white text-center p-5">
        <div class="container">
            <h1>Unaable to Book Appointment</h1>
            <p>Please call us at 123-456-7891</p>
        </div>
        <footer id="contact" class="bg-dark text-white text-center p-4">
            <div class="container">
                <p>Cooler Than You HVAC Company | Phone: 123-456-7891 | Email: contact@coolerthanyou.com</p>
                <p>&copy; 2021 Cooler Than You HVAC Company. All rights Reserved</p>
            </div>
        </footer>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>